body {
  background-color: rgb(49, 49, 49);
  margin: 0 auto;
  display: grid;
  justify-items: center;
}

table {
  display: flex;
  border: 20px;
  border-collapse: collapse;
  margin: 20px;
  color: white;
  background-color: #203153;

}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  font-family: sans-serif;
}

#greenFlag {
  height: 30px;
  margin: 20px;
  color: white;
  background-color: #203153;
}

.button-link {
appearance: auto;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    writing-mode: horizontal-tb !important;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
     height: 30px;
  margin: 20px;
  color: white;
  background-color: #203153;
  font-family: sans-serif;
}

nav {
  display: flex;
}